$ npm i express dotenv mongoose colors
$ npm i -D nodemon
$ npm i express-async-handler
$ npm i bcryptjs
$ npm i jsonwebtoken

$npm install crypto-js
$npm install elliptic

$npm install node-fetch@2.0
$npm install axios